<div class="container">
    <div class="row">
        <h1>New Student</h1>
    </div>
    <div class="row">
        <form action='<%= dojo_students_path %>' method='POST'>
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
            <div class="col">
                <p><label for="student[first_name]">First Name: </label></p>
                <p><label for="student[last_name]">Last Name: </label></p>
                <p><label for="student[email]">Email Address: </label></p>
                <p><label for="student[dojo]">Dojo: </label></p>
            </div>
            <div class="col">
                <p><input type="text" name='student[first_name]'></p>
                <p><input type="text" name='student[last_name]'></p>
                <p><input type="text" name='student[email]'></p>
                <p>
                    <select name="student[dojo_id]">
                        <option value="<%= @dojo.id %>" selected><%= @dojo.branch %></option>
                        <% @dojos.each do |dojo| %>
                        <% if dojo.id != @dojo.id %>
                        <option value="<%= dojo.id %>"><%= dojo.branch %></option>
                        <% end %>
                        <% end %>
                    </select>
                </p>
                <button type='submit'>Create</button>
            </div>
        </form>
    </div>
    <div class="row">
        <%= link_to "Home", dojos_path %> | <%= link_to @dojo.branch, dojo_students_path %>
    </div>
</div>