<div class="container">
    <div class="row" id='gold'>
        <label for="gold">Your Gold:</label>
        <input type="text" name='gold' value='<%= @gold_total %>'>
    </div>
    <div class="row" id='buttons'>
        <div class="col">
            <h1>Farm</h1>
            <p>(earns 10-20 golds)</p>
            <form action="/process_gold" method='POST'>
                <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                <input type="hidden" name='place' value='farm'>
                <button type='submit'>Find Gold!</button>
            </form>
        </div>
        <div class="col">
            <h1>Cave</h1>
            <p>(earns 5-10 golds)</p>
            <form action="/process_gold" method='POST'>
                <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                <input type="hidden" name='place' value='cave'>
            <button type='submit'>Find Gold!</button>
            </form>
        </div>
        <div class="col">
            <h1>House</h1>
            <p>(earns 2-5 golds)</p>
            <form action="/process_gold" method='POST'>
                <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                <input type="hidden" name='place' value='house'>
                <button type='submit'>Find Gold!</button>
            </form>
        </div>
        <div class="col">
            <h1>Casino</h1>
            <p>(earns/takes 0-50 golds)</p>
            <form action="/process_gold" method='POST'>
                <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                <input type="hidden" name='place' value='casino'>
                <button type='submit'>Find Gold!</button>
            </form>
        </div>
    </div>
    <div class="row" id='activities'>
        <p>Activities:</p>
        <div class="logbox">
            <% @activities.reverse.each do |activity| %>
                <% if activity.include?("Earned") %>
                    <p class='green'><%= activity %></p>
                <% else %>
                    <p class='red'><%= activity %></p>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="row">
        <a href="/reset">Reset</a>
    </div>
</div>