<div class="container">
    <div class="row">
        <h1>Secrets</h1>
    </div>
    <div class="row">
        <table>
            <% @secrets.each do |secret| %>
            <tr>
                <td><%= secret.content %></td>
                <td>
                    <% unless secret.users_that_like.include?(current_user) %>
                    <form action="<%= secret_likes_path(secret) %>" method="POST">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <button type="submit">Like</button>
                    </form>
                    <% end %>
                    <% if secret.users_that_like.include?(current_user) %>
                    <form action="<%= secret_like_path(secret, current_user) %>" method="POST">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit">Unlike</button>
                    </form>
                    <% end %>
                </td>
            </tr>
            <tr>
                <td><%= secret.likes.count %> likes</td>
                <td>
                    <% if current_user == secret.user %>
                    <form action="<%= secret_path(secret) %>" method="POST">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit">Delete Secret</button>
                    </form>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </table>
    </div>
</div>