<!DOCTYPE html>
<html>
<head>
  <title>Belt Reviewer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="row">
  <% if current_user %>
    <div class="row">
      <div class="col">
        <% if current_page?('/events') %>
          <%= link_to "Edit My Profile", edit_user_path(current_user) %>
        <% else %>
          <%= link_to "Events Dashboard", events_path %>
        <% end %>
        <%= link_to "Logout", logout_path(current_user) %>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <% if flash[:errors] %>
    <% flash[:errors].each do |e| %>
      <p><%= e %></p>
    <% end %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
